header,footer{
  text-align:center;color:LightSeaGreen;
}

header{
  color:LightSeaGreen;
}

h1,h2,h3{
  color:LightSeaGreen;
}

a{
  color:LightSeaGreen
}

img{
  border: 2px solid LightSalmon
}

body{
  font-family:Tahoma;
}
